[submodule "week4/assignment_jobly/jobly-starter"]
	path = week4/assignment_jobly/jobly-starter
	url = https://github.com/codepath/jobly-starter.git
[submodule "week3/lab2_vaccine_hub"]
	path = week3/lab2_vaccine_hub
	url = https://github.com/codepath/vaccine-hub-starter.git
[submodule "week2/lab2_twitter"]
	path = week2/lab2_twitter
	url = https://github.com/SamanthaCP/site_twitter_starter.git
[submodule "week2/lab1_gift_giver"]
	path = week2/lab1_gift_giver
	url = https://github.com/SamanthaCP/gift_giver_starter.git
[submodule "week2/lab3_banking_app"]
	path = week2/lab3_banking_app
	url = https://github.com/SamanthaCP/site_banking_starter.git
[submodule "week1/lab2_reportcard"]
	path = week1/lab2_reportcard
	url = https://github.com/SamanthaCP/site_reportcard_starter.git
